{% extends "base.html" %}{% load dashboard_filters humanize %}

{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css">
{% endblock %}

{% block header %}
<form id="pickdaterange" action="{% url get-observations %}" method="get" accept-charset="utf-8">
    <ul class="clearfix">
        {{ form.as_ul }}
        <li><input type="submit" value="Update"></li>
    </ul>
</form>

{% endblock header %}

{% block content %}
    <table id="analytics">
        <thead>
            <tr>
                <th><span>Name</span></th>{% for u in ordered_units %}
                <th><span>{{ u.unit.name }}</span></th>{% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr id="{{ object.project.slug }}" class="primary">
                <th scope=row>{{ object.project.name }}</th>{% for o in object.observations %}
                <td class='{{ o.metric.unit.slug }} {{ o.metric.observation_type.model }}'>
                    {% spaceless %}{% include "dashboard/snippets/_render_observation.html" %}{% endspaceless %}
                </td>{% endfor %}
            </tr>{% for o in object.extra_observations %}
            <tr class="secondary {% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}">
                <th colspan=2 scope=row>{{ o.metric.unit.name }}</th>
                <td class='{{ o.metric.unit.slug }} {{ o.metric.observation_type.model }}' colspan={{ object.observations|length|add:"-1" }}>
                    {% spaceless %}{% include "dashboard/snippets/_render_observation.html" %}{% endspaceless %}
                </td>
            </tr>{% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.16.custom.min.js"></script>
    <script>
        var MAX_DATE = '{{ latest_datetime|date:"Y-m-d" }}';
    </script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}