{% extends "dashboard/project_list.html" %}{% load dashboard_filters humanize %}

{% block body_class %}project{% endblock body_class %}
{% block content %}{% with object_list.0 as object %}
<h1>{{ object.project.name }}</h1>
<table id="analytics">
    <thead>
        <tr>
            {% for datap in object.observations %}
            <th><span>{% if "observations" in datap %}<a href="#{{ datap.metric.unit.slug }}">{{ datap.metric.unit.name }}</a>{% else %}{{ datap.metric.unit.name }}{% endif %}</span></th>{% endfor %}
            {% if object.annotations %}<th><span><a href="#annotations">Annotations</a></span></th>{% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>{% for datap in object.observations %}
            <td class='{{ datap.metric.unit.slug }} {{ datap.metric.unit.observation_type.model }}'>
                {% if datap %}{% spaceless %}{% include "dashboard/snippets/_render_observation.html" %}{% endspaceless %}{% else %}&nbsp;{% endif %}
            </td>{% endfor %}
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
{% for datap in object.observations %}{% if "observations" in datap %}
<section id="{{ datap.metric.unit.slug }}" class="unit-observations">
    <h2>{{ datap.metric.unit.name|title }}</h2>
    {% ifnotequal datap.metric.unit.observation_type.model "objectobservation"  %}
    <div class="aggregate-value">
        {% ifequal datap.metric.unit.observation_type.model "ratioobservation" %}
        <p class="observation" data-value="{{ datap.ratioobservation.value }}">{% spaceless %}{% ifequal datap.ratioobservation.antecedent.metric.unit.observation_unit "seconds" %}
            {{ datap.ratioobservation.value|secondstoduration }}
            {% else %}
                {% ifequal datap.metric.unit.observation_unit "percentage"  %}
                {{ datap.ratioobservation.value|percentage:2}}
                {% else %}
                {{ datap.ratioobservation.value|floatformat:1}}
                {% endifequal %}
            {% endifequal %}
            {% endspaceless %}</p>
        {% endifequal %}
        {% ifequal datap.metric.unit.observation_type.model "countobservation" %}
        <p class="observation" data-value="{{ datap.countobservation.value }}">{% spaceless %}{% ifequal datap.metric.unit.observation_unit "seconds" %}
            {{ datap.countobservation.value|secondstoduration }}
            {% else %}
            {{ datap.countobservation.value|intcomma }}
            {% endifequal %}
        {% endspaceless %}</p>
        {% endifequal %}
    </div>
    <div class="chart"></div>
    <h3 class="table-toggle"><a href="#data-{{ datap.metric.unit.slug }}">View Data Table</a></h3>
    {% endifnotequal %}
    <div id="data-{{ datap.metric.unit.slug }}" class="table-wrapper">
        <table class="data-table">{% for sub_datap in datap.observations reversed %}
            <tr class="datapoint">
                <td><time data-milliseconds="{{ sub_datap.to_datetime|datetime_to_ms }}" datetime="{{ sub_datap.to_datetime|date:'c' }}">{{ sub_datap.to_datetime|date:'M d, Y' }}</time></td>
                <td>
                    {% spaceless %}{% include "dashboard/snippets/_render_observation.html" with datap=sub_datap list_slice=":20" %}{% endspaceless %}
                </td>
            </tr>{% endfor %}
        </table>        
    </div>
</section>{% endif %}{% endfor %}
{% if object.annotations %}
<section id="annotations">
    <h2>Annotations</h2>
    {% for a in object.annotations %}
        <p><time datetime="{{ a.timestamp|date:"c" }}">{{ a.timestamp|date:"Y-m-d" }}</time>:&nbsp;<span>{{ a.text }}</span></p>
    {% endfor %}
</section>
{% endif %}
<div id="annotation_dialog">
    <form action="{% url add-annotation %}" method="post" accept-charset="utf-8">{% csrf_token %}
        {{ annotation_form.as_p }}
        <p><input type="submit" value="submit"></p>
    </form>
</div>
{% endwith %}{% endblock content %}

{% block js %}
<script src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.16.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/libs/jquery.flot.min.js" type="text/javascript" charset="utf-8"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
<script type="text/javascript">
    var MAX_DATE = '{{ latest_datetime|date:"Y-m-d" }}';
</script>
<script src="{{ STATIC_URL }}js/charts.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/script.js" type="text/javascript" charset="utf-8"></script>
{% endblock js %}