{% extends "base.html" %}{% load dashboard_filters humanize %}

{% block header %}
{% ifequal from_datetime|date:"m/d/y" to_datetime|date:"m/d/y"  %}
<h2>Data for {{ from_datetime|date:"m/d/y" }} [{{ from_datetime|timesince }} ago]</h2>
{% else %}
<h2>From&nbsp;{{ from_datetime|date:"m/d/y" }} To&nbsp;{{ to_datetime|date:"m/d/y" }}</h2>
{% endifequal %}
{% endblock header %}

{% block content %}
    <table id="analytics">
        <colgroup span="1" class="titles">
        {# <colgroup span="6"> #}
        {# <colgroup span="1" class="lists"> #}
        <thead>
            <tr>
                <th><span>Name</span></th>{% for u in ordered_units %}
                <th><span>{{ u.unit.name }}</span></th>{% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr id="{{ object.project.slug }}" class="primary">
                <th scope=row>{{ object.project.name }}</th>{% for o in object.observations %}
                <td class='{{ o.metric.unit.slug }} {{ o.metric.observation_type.model }}'>
                    {% spaceless %}{% include "dashboard/snippets/_render_observation.html" %}{% endspaceless %}
                </td>{% endfor %}
            </tr>{% for o in object.extra_observations %}
            <tr class="secondary {% if forloop.first %}first{% endif %}">
                <th colspan=2 scope=row>{{ o.metric.unit.name }}</th>
                <td class='{{ o.metric.unit.slug }} {{ o.metric.observation_type.model }}' colspan={{ object.observations|length|add:"-1" }}>
                    {% spaceless %}{% include "dashboard/snippets/_render_observation.html" %}{% endspaceless %}
                </td>
            </tr>{% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}